html,
body {
    width: 400px;
}

.hidden {
    display: none;
}

.favicon {
    width: 25px;
    height: 25px;
}

#title_container {
    display: flex;
    align-items: center;
    gap: 5px;
}

p {
    color: black;
    margin: 0px;
    font-weight: semi-bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    border:hsl(from color 173 127 256);
    width: 100%;
    margin: 2% 1px 5px;
    padding: 4px;
    text-align: center;
    font-size: small;
    cursor: pointer;
    background-color: #caffec;
}

button:hover {
    background-color: aquamarine;
}

button[type="Term"] {
    width: 14%;
    background-color: #fbe5c9;
}

button[type="Term"]:hover {
    background-color: red;
}

button[type="Mute"] {
    width: 14%;
    background-color: #c0ffff;
}

button[type="Mute"]:hover {
    background-color: #00b3ff;
}