body {
    /* Variables */
    --background-color: #42414D;
    --text-color: white;
    --switch-button-hover: #5E5D69;
    --mute-button-hover: var(--switch-button-hover);
    --term-button-hover: var(--switch-button-hover);
    --unmute-button-hover: var(--switch-button-hover);

    background-color: var(--background-color);
    max-height: 400px;
    width: 400px;
}

body.light {
    --background-color: white;
    --text-color: black;
    --switch-button-hover: aquamarine;
    --mute-button-hover: #00b3ff;
    --term-button-hover: red;
    --unmute-button-hover: yellowgreen;
}

.hidden {
    display: none;
}

.favicon {
    width: 25px;
    height: 25px;
}

#title_container {
    display: flex;
    align-items: center;
    gap: 5px;
}

#no_tabs_info {
    color: var(--no-tabs);
}

p {
    color: var(--text-color);
    margin: 0px;
    margin-bottom: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    color: var(--text-color);
    border: none;
    width: 20%;
    margin: 0px;
    padding: 4px;
    text-align: center;
    font-size: small;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--background-color);
}

button:hover {
    background-color: var(--switch-button-hover);
}

button[type="switch"] {
    width: 70%;
    text-align: left
}

button[type="Term"] {
    width: 10%;
}

button[type="Term"]:hover {
    background-color: var(--term-button-hover);
}

button[type="Mute"]:hover {
    background-color: var(--mute-button-hover);
}

button[type="UnMute"]:hover {
    background-color: var(--unmute-button-hover);
}